* {
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

html {
    width: 100%;
    height: 100%;
    font-family: Verdana, sans-serif;
    overflow: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
li {
    margin: 0;
    padding: 0;
    color: var(--gray-100);
}

p, li {
    font-size: 1rem;
    line-height: 1.4rem;
}

ul,
ol {
    margin: 0;
}

a {
    text-decoration: inherit;
}

input,
select {
    margin: 0;
    font-size: 1rem;
}

input,
select,
textarea {
    font-size: 1rem;
    padding: 6px;
    background: var(--gray-800);
    color: var(--gray-100);
    outline: solid 1px var(--gray-400);
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 4px 2px var(--gray-600);
    transition: all 0.15s ease-in-out;
}

input:focus, select:focus, textarea:focus {
    outline: solid 1px var(--gray-300);
    box-shadow: 0 0 4px 2px var(--lightBlue-300);
}

input[type="checkbox"] {
    outline: none;
    box-shadow: none;
}

input::-moz-placeholder,
input:-moz-placeholder,
input::-webkit-input-placeholder,
input:-ms-input-placeholder,
textarea::-moz-placeholder,
textarea:-moz-placeholder,
textarea::-webkit-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--gray-400);
}

table {
    border-collapse: collapse;
}

th,
td {
    border-bottom: solid 1px var(--gray-500);
    padding: 8px 16px 8px 8px;
    color: white;
    text-align: left;
    white-space: nowrap;
}

svg {
    display: block;
    width: 100%;
    height: 100%;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    min-height: 48px;
    height: 48px;
    background: var(--gray-800);
    border-bottom: solid 1px var(--gray-600);
}

button {
    padding: 0.5rem 1rem;
    border-radius: 8px;
    color: #fff;
    font-family: Verdana, sans-serif;
    font-size: 1rem;
    border: none;
    background-color: var(--blue-600);
    text-align: center;
    transition: all 0.15s ease-in-out;
}

button:hover {
    cursor: pointer;
    background-color: var(--blue-800);
}

button:disabled {
    background-color: var(--gray-500);
    cursor: not-allowed;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-white:hover {
    background-color: var(--gray-300);
}

.btn-gray {
    background-color: var(--gray-800);
}

.btn-gray:hover {
    background-color: var(--gray-900);
}

.btn-transparent {
    background-color: transparent;
}

.btn-transparent:hover {
    background-color: var(--gray-500);
    cursor: pointer;
}

.link {
    color: var(--lightBlue-500);
}

.link:hover {
    text-decoration: underline;
    cursor: pointer;
}

body {
    margin: 0;
    background-color: var(--gray-800);
    /* Prevent scrolling and refresh on mobile */
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    bottom: 0;
}

canvas {
    /*
    * This is 'fixed' because if it were 'absolute', then the layout would be broken 
    * when inside a div with position: relative.
    */
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blue-to-purple {
    background-image: linear-gradient(135deg,
            hsl(240deg 47% 23%) 0%,
            hsl(266deg 42% 27%) 50%,
            hsl(286deg 36% 30%) 100%);
}

.red-to-orange {
    background-image: linear-gradient(135deg,
            hsl(0deg 64% 31%) 0%,
            hsl(15deg 76% 32%) 50%,
            hsl(27deg 94% 31%) 100%);
}

.text-gradient {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 8px solid var(--lightBlue-200);
    border-radius: 50%;
    border-top-color: var(--blue-500);
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
    to { transform: rotate(360deg); }
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: all 0.15s ease-in-out;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 2px 12px -2px var(--gray-500);
}

.dropdown-content a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    white-space: nowrap;
    color: var(--gray-100);
    background: var(--gray-900);
}

.dropdown-content a:hover {
    background: var(--gray-800);
}

.dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
}
